.App {
  font-family: sans-serif;
  text-align: center;
}
.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 20px;
}

.book-card {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-card img {
  width: 100px;
  height: 150px;
  margin-bottom: 1rem;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 20px;
}
